

@import 'variable';
@import 'mixins';


html{	
	/*-webkit-text-size-adjust是解决 iPhone 横屏时默认会放大文字的问题*/
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%; 
  /*取消掉300ms的延迟，chrome和safari可以生效*/
  touch-action:manipulation; 
}
html,body{
  font-family:$font-style-base;
	/*-webkit-user-select:none禁止用户进行复制.选择.*/
	-webkit-user-select:none;
	user-select:none;
	width:100%;
	/*使用min-height:100%代替height：100%*/
  height: 100%;
	min-height:100%; 
  color:$color-text-primary;
  font-size:$font-size-small;
}
body{
	/*弹性滚动-局部滚动开启弹性滚动：将属性挂在body上，可以避免很多奇怪的bug。*/
  overflow:scroll;
	-webkit-overflow-scrolling:touch;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, div, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  /*把所有元素的内边距和边框不再会增加它的宽度*/
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  box-sizing:border-box;
}
ol, ul {
  /*去掉列表点*/
  list-style: none;  
}
table {
  /*去掉表格的双行线*/
  border-collapse: collapse;      
  border-spacing: 0;
}
/*取消a标签在移动端点击时的背景颜色*/
a,a:hover,a:active,a:visited,a:link,a:focus{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    outline:none;
    background: none;
    text-decoration: none;
}
a, img {
  /* 禁止长按链接与图片弹出菜单 */
    -webkit-touch-callout: none; 
}
input {
  /*ios去除input默认样式*/
  -webkit-appearance:none; 
}

.clearfix{
  @include clearfix();
}
.max-width{
  max-width: 7.5rem;
}

.wrapper{
  position: relative;
  width: 100%;
  @extend .max-width;
  min-height: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}
