<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no, email=no,adress=no">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <title>下拉/上拉 分页加载</title>
    <style>
        .dropload-load{
            text-align: center;
            font-size:.24rem;
            color:#999;
            display:none;
        }
        .dropload-load .loading{
            display: inline-block;
            height: 15px;
            width: 15px;
            border-radius: 100%;
            margin: 6px;
            border: 2px solid #666;
            border-bottom-color: transparent;
            vertical-align: middle;
            -webkit-animation: rotate 0.75s linear infinite;
            animation: rotate 0.75s linear infinite;
        }
        @-webkit-keyframes rotate {
            0% {
                -webkit-transform: rotate(0deg);
            }
            50% {
                -webkit-transform: rotate(180deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
            }
        }
        @keyframes rotate {
            0% {
                transform: rotate(0deg);
            }
            50% {
                transform: rotate(180deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
        .loading-end{
            text-align: center;
            padding:.1rem;
            color: #999;
            font-size:.24rem;
        }
    </style>
    <title>拍卖记录</title>
</head>
<body>
<div class="wrapper">
    <div class="auction-record-content">
        <ul id="container">
            <li>
                <div class="img"></div>
                <p><span>Subconan</span></p>
            </li>
            <li>
                <div class="img"></div>
                <p><span>这个名字有点长这个名字有点长</span></p>
            </li>
            <li>
                <div class="img"></div>
                <p><span>这个名字有点长这个名字有点长</span></p>
            </li>
            <li>
                <div class="img"></div>
                <p><span>这个名字有点长这个名字有点长</span></p>
            </li>
            <li>
                <div class="img"></div>
                <p><span>这个名字有点长这个名字有点长</span></p>
            </li>
            <li>
                <div class="img"></div>
                <p><span>这个名字有点长这个名字有点长</span></p>
            </li>
            <li>
                <div class="img"></div>
                <p><span>这个名字有点长这个名字有点长</span></p>
            </li>
            <li>
                <div class="img"></div>
                <p><span>这个名字有点长这个名字有点长</span></p>
            </li>
        </ul>
        <div class="dropload-load items-loading"><span class="loading"></span>加载中...</div>
        <div class="loading-end" style="display: none;">数据已经加载完</div>
    </div>
</div>
<!-- script begin -->
<script src="../scripts/flexible.js"></script>
<script src="../plugins/jquery/jquery-3.1.1.min.js"></script>
<script>

    /**
     * 页面到达底部，加载更多
     *  * @param { function } callback - 回调函数
     */
    function loadMoreHandle(callback){
        window.addEventListener('scroll',function() {
            if(isSlideToBottom()){
                callback();
            }
        }, false);
    }

    //判断是否滑到离底部5像素的距离
    function isSlideToBottom(){
        var scrollTop=document.documentElement.scrollTop || document.body.scrollTop || 0,             //获取滚动条当前的位置
                clientHeight=document.documentElement.clientHeight || document.body.clientHeight || 0,    //获取网页可见区域高
                scrollHeight=document.documentElement.scrollHeight || document.body.scrollHeight || 0;    //获取网页总高度

        return scrollTop + clientHeight > scrollHeight-5;
    }


    $(function () {
        var pageNum=10,                    //每页显示数
            currentPageIndex=0,            //当前页数
            loadedEndFlag=false,          //数据是否已经加载完
            preventRepeatRequest=false,   //到达底部加载数据，防止重复加载
            $container=$('#container'),
            $droploadLoad=$('.dropload-load'),
            $loadingEnd=$('.loading-end');


        //提示数据加载中
        function showLoading() {
            $droploadLoad.show();
            $loadingEnd.hide();
        }
        //移除数据加载中
        function hideLoading() {
            $droploadLoad.hide();
        }
        //提示数据加载完
        function showLoadingEnd() {
            $droploadLoad.hide();
            $loadingEnd.show();
        }
        //添加分页数据
        function appendPageData(obj){
            var html='';
            obj.map(function(item,index){
                html+='<li>'+
                        '<div class="img"></div>'+
                        '<p><span>'+item.name+index+'</span></p>'+
                        '</li>';
            });
            $container.append(html);
        }

        loadMoreData(); //加载第一页数据

        function loadMoreData() {
            if (loadedEndFlag) {
                return;
            }
            //防止重复请求
            if (preventRepeatRequest) {
                return;
            }
            preventRepeatRequest = true;
            currentPageIndex++;
            requestProductData();
        }
        //请求数据
        function requestProductData() {

            /*只是为了看效果 */
            showLoading();
            var obj=[
                { name:'标题标题标题标题标题标题标题标题标题标题标题标题'},
                { name:'标题标题标题标题标题标题标题标题标题标题标题标题'},
                { name:'标题标题标题标题标题标题标题标题标题标题标题标题'},
                { name:'标题标题标题标题标题标题标题标题标题标题标题标题'},
                { name:'标题标题标题标题标题标题标题标题标题标题标题标题'}
            ];
            appendPageData(obj);
            hideLoading();
            if(currentPageIndex==2){
                //看效果
                loadedEndFlag=true;
                showLoadingEnd();
            }
            preventRepeatRequest=false;
            /*只是为了看效果  end*/
            return;

            //实际需要删掉前面代码 修改请求数据
            var params={
                rows:pageNum,
                page:currentPageIndex,
            };

            $.ajax({
                url: '/',
                type: 'POST',
                contentType: "application/json",
                data: JSON.stringify(params),
                beforeSend: function() {
                    showLoading();
                },
                success: function(result) {
                    var data=result.item.news;
                    if(result.code==0){
                        var dataLength=result.item.news.length;
                        if(dataLength==0){
                            //无数据
                            preventRepeatRequest=true;
                            $droploadLoad.hide();
                            loadedEndFlag = true;
                            showLoadingEnd();
                            return;
                        }
                        if (dataLength < pageNum) {
                            //返回的数据小于每页的数据
                            loadedEndFlag = true;
                            showLoadingEnd();
                        }
                        appendPageData(data);

                    }else{
                        messageConfirm({
                            tips:result.message
                        })
                    }
                    preventRepeatRequest=false;
                    hideLoading();
                },
                error: function(xhr) {
                    hideLoading();
                    var errCode = JSON.parse(xhr.responseText).requestId.substr(0, 8);
                    messageConfirm({
                        tips:errCode
                    })
                }
            });
        }
        loadMoreHandle(loadMoreData);  //监听滑动事件 传入回调函数
    })

</script>
<!-- script end -->
</body>
</html>